<%- include("layouts/header") -%>
    <header>
        <h1 class="header">Riker Meme Generator</h1>
    </header>
    <hr>

    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example">
            <p><button type="button" id="welcome" class="btn-info" data-bs-toggle="collapse" data-bs-target="#Link" aria-expanded="true" aria-controls="Link">Welcome: <%= usrn %> &#9786</button>
            <br></p>
            
                <div id="Link" class="collapse text-center">
                    <ul class="profList">
                        <li><form action="/login" method="get">
                            <button  type="submit" name="profilePage">Profile page</button>
                            </form>
                        </li> 
                        <li>Saved meme</li>
                        <li><form action="/create" method="get">
                            <button  type="submit" name="Log Out">Create meme</button>
                            </form>
                        </li> 
                        <li><form action="/logOut" method="get">
                            <button  type="submit" name="Log Out">Log Out</button>
                            </form>
                        </li> 
                    </ul>
                    <br>
                </div> 
        </div>
    </div>

    <div>
        <p>Creating...</p>

    </div>
   


    <br>
    <%- include("layouts/footer") -%>