<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riker-Website</title>
    <link rel="stylesheet" type="text/css" href="css/styleSheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <h1 class="header">Riker Meme Generator</h1>
</header>
<br><br>
<div class="bd-example">
</div>
<div class="sec1">
    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example">
            <p><button type="button" class="btn-info" data-bs-toggle="collapse" data-bs-target="#LogIn" aria-expanded="true" aria-controls="LogIn">Log In</button>
            <br></p>
            <div id="LogIn" class="collapse text-center">
                <div class="jumbotron text-center">
                    <div class="container">
                        <h2 class="h2">Log In</h2>
                    </div>
                    <div>
                        <form id="LogIn" action="/login" method="post">
                            <br><br>
                            <p><b>Email address</b></p>
                            <input type="text" name="username" id="username" size="auto" placeholder="Email address"/>
                            <br><br>
                            <p><b>Password</b></p>
                            <input type="password" name="password" id="password" size="auto" placeholder="Password"/>
                            <br><br>
                            <button type="submit" name="Log in">Log in</button>
                        </form>
                        <br>
                    </div>
                </div>

            </div>
            <p><button type="button" class="btn-info" data-bs-toggle="collapse" data-bs-target="#Register" aria-expanded="true" aria-controls="Register">Register</button>
            <br></p>
            <div id="Register" class="collapse text-center">
                <div class="jumbotron text-center">
                    <div class="container">
                        <h2 class="h2">Sign Up</h2>
                    </div>
                    <div>
                        <form id="SignUp" action="/register" method="post">
                            <br>
                            <p><b>Name</b></p>
                            <input type="text" name="name" size="auto" placeholder="Full name"/>
                            <br><br>
                            <p><b>Email address</b></p>
                            <input type="text" name="username" id="username" placeholder="Email address"/>
                            <br><br>
                            <p><b>Password</b></p>
                            <input type="password" name="password" id="password" size="auto" placeholder="Password"/>
                            <br><br>
                            <p><b>Confirm Password</b></p>
                            <input type="password" name="cpwd" size="auto" placeholder="Confirm Password"/>             
                            <br><br>
                            <button type="submit" name="SignUp">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><p id="footer">2022 BY-RIKER TEAM</p>
</body>
</html>